@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background: #f6f8fe !important;
    font-family: 'Poppins', sans-serif !important;
}
.theme-text
{
  color: #5e37ff;
}
img
{
  height: 30px;
}
.tb
{
  overflow-x: scroll !important;
}
